@model IEnumerable<LearningDiary.COMMON.Dtos.EntryDto>

<h1>Learning Diary v6</h1>

@foreach (var item in Model)
{
    <table class="table">
        <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation.ToShortDateString())
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
        </tbody>
    </table>
}


