@model IEnumerable<LearningDiary.COMMON.Dtos.EntryDto>

<h1>DEPLOY VERSION v3</h1>
<div class="text-center">
    @{
        foreach (var entry in Model)
        {
        <div>
            <p>@entry.Title @entry.DateOfCreation</p>
            <p>@entry.Description</p>
        </div>
        }
        
    }
</div>

